body {
    background-color: forestgreen
}

h1 {
    color: yellow
}
p {
    color: yellow
}

a {
    color: yellow;
}

a:visited {
    color: lightcoral;
}

#tooltip {
    position: absolute;
    width: auto;
    color: yellow;
}