body {
    background-color: forestgreen
}

h1 {
    color: yellow
}
p {
    color: yellow
}

a {
    color: yellow;
}

a:visited {
    color: lightcoral;
}

#tooltip {
    position: absolute;
    width: auto;
    color: black;
}

#interPara {
    color: black;
}

#NHL {
    fill: blue;
}

#NBA {
    fill: red;
}

#NFL {
    fill: orange;
}

#Tackling, #Tackled {
    fill: grey;
}

#Blocking, #Blocked {
    fill: aqua;
}

#ins1 {
    font-size: 24px;
}

#ins2 {
    font-size: 24px;
}

#graph {
    display: inline-block;
}

#Tackles {
    fill: grey;
}

#Blocks {
    fill: aqua;
}

#Contacts {
    fill: yellow;
}